* {
    box-sizing: border-box;
}

body {
    background-color: #aaa;
    text-align: center;
    font-family: "Share Tech Mono";
}

.laikiklis {
    height: 100vh;
    width: 90%;
    min-width: 400px;
    margin: 0 auto;
    position: absolute;
}

#pradek {
    position: relative;
    top: 50%;
    left: 48%;
    width: 200px;
    transform: translate(-10%, -50%);
    text-align: center;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#fonas {
    position: absolute;
    border: none;
    min-width: none;
}

#pradek h1 {
    padding: 15px;
    border: 2px solid grey;
    font-family: "Share Tech Mono";
}

#pradek h2 {
    font-family: "Share Tech Mono";
    font-size: 35px;
}


table, tr, td {
    border-collapse: collapse;
}

table {
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-top: 3px solid #DAA520;;
    border-right: 3px solid #483D8B;
    border-bottom: 3px solid #F08080;
    border-left: 3px solid #3CB371;
    box-shadow: 2px, 2px, 2px, grey;
}

td {
    width: 30px;
    height: 30px;
}

.guli, .juda {
    -webkit-box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.2);
}

.isnyksta {
    background-color: white;
    transform: scale(1.1, 1.1);
    transition: all 0.1s;
}

.sp2 {
    background-color: #DAA520; /*tipo geltonas*/
}

.sp1 {
    background-color: #483D8B; /*tipo mėlynas*/
}

.sp3 {
    background-color: #F08080; /*tipo raudonas*/
}

.sp4 {
    background-color: #3CB371; /*tipo žalias*/
}

.pabaiga {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    padding: 30px;
}

.pabaiga h3 {
    font-weight: bold;
    padding: 30px;
    color: #444;
    box-shadow: 2px, 2px, 2px, grey;
    text-transform: uppercase;
}

.pabaiga a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
