* {
    box-sizing: border-box;
}

body {
    background-color: #aaa;
    text-align: center;
    font-family: "Helvetica" sans-serif;
}

.laikiklis {
    height: 100vh;
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
    position: absolute;
}

#pradek {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    text-align: center;
    cursor: pointer;
}

table, tr, td {
    border-collapse: collapse;
}

table {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid grey;
    box-shadow: 2px, 2px, 2px, grey;
}

td {
    width: 30px;
    height: 30px;
}

.guli, .juda {
    -webkit-box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.2);
}

.isnyksta {
    background-color: white;
    transform: scale(1.1, 1.1);
    transition: all 0.1s;
}

.sp2 {
    background-color: #DAA520; /*tipo geltonas*/
}

.sp1 {
    background-color: #483D8B; /*tipo mėlynas*/
}

.sp3 {
    background-color: #F08080; /*tipo raudonas*/
}

.sp4 {
    background-color: #3CB371; /*tipo žalias*/
}

.pabaiga {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    padding: 30px;
}

.pabaiga h3 {
    font-weight: bold;
    padding: 30px;
    color: #444;
    box-shadow: 2px, 2px, 2px, grey;
    text-transform: uppercase;
}

.pabaiga a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
